/* خلفية متدرجة للأزرار */
.gradient-btn {
  background: linear-gradient(135deg, #1e90ff, #00bfff);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 30px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.gradient-btn:hover {
  background: linear-gradient(135deg, #00bfff, #1e90ff);
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4);
}

/* تنسيق عصري للأزرار */
.modern-btn {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 5px 15px;
  font-size: 0.875rem;
  border: 1px solid #ced4da;
  border-radius: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}



/* تحريك القوائم المنسدلة */
.animate-dropdown {
  animation: slideDown 0.3s ease-in-out;
}



/* تنسيق خاص لزر التعديل */
.edit-btn {
  color: white;
  background-color: #007bff; /* أزرق */
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #0056b3; /* أزرق داكن */
  color: white;
}

/* تنسيق خاص لزر الحذف */
.delete-btn {
  color: white;
  background-color: #dc3545; /* أحمر */
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333; /* أحمر داكن */
  color: white;
}
