/* خلفية متدرجة للأزرار */
.adds {
  background: linear-gradient(135deg, #1e90ff, #00bfff);
  color: white;
  border: none;
  padding: 8px;
  font-weight: 600;
  border-radius: 30px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.sto{
  background: linear-gradient(135deg, #fff01e, #ffae00);
  color: black;
  border: none;
  padding: 8px;
  font-weight: 600;
  border-radius: 30px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}


/* تنسيق عصري للأزرار */
.modern-btn {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 5px 15px;
  font-size: 0.875rem;
  border: 1px solid #ced4da;
  border-radius: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}



/* تحريك القوائم المنسدلة */
.animate-dropdown {
  animation: slideDown 0.3s ease-in-out;
}



/* تنسيق خاص لزر التعديل */
.edit-btn {
  color: white;
  background-color: #007bff; /* أزرق */
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #0056b3; /* أزرق داكن */
  color: white;
}

/* تنسيق خاص لزر الحذف */
.delete-btn {
  color: white;
  background-color: #dc3545; /* أحمر */
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333; /* أحمر داكن */
  color: white;
}
