.gradient-icon {
  position: relative;
  display: inline-block;
}

.gradient-icon::before {





  border-radius: 30px;

  padding: 9px;

}
.navbar-toggler:focus{
  box-shadow:none;
  background-color: #74747469;
}

.actev-nav::before{
  background: linear-gradient(45deg, #78c2ff, #006bc2, #78c2ff);

}

.active {
  position: relative;
  text-decoration: none; /* يزيل التحتية الافتراضية إذا كان العنصر هو رابط */
}

.active::after {
  content: ''; /* مطلوب لإنشاء العنصر الزائف ::after */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; /* سمك الخط */
  background: linear-gradient(to right, #2b87ff, #41b3ff); /* تدرج لوني للخط */
  box-shadow: 0 0 8px rgb(65, 147, 255); /* ظل مضيء حول الخط */
}


.footer-button {
  padding: 10px 20px;
  background-color: #1b6577; /* لون أزرق فاتح للزر */
  color: rgb(207, 232, 252);
  border: none;
  border-radius: 12px; /* زوايا دائرية للزر */
  cursor: pointer;
  transition: background-color 0.3s ease; /* تأثير انتقال عند التمرير */
}

.footer-button:hover {
  background-color: #2790aa; /* تغيير لون الزر عند التمرير للأزرق الداكن */
}
