.wallet-header {
  background-color: #0084ffad;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.balance-display {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.transaction-list {
  max-height: 300px;
  overflow-y: auto;
}
.badge-custom {
  font-size: 1rem;
}
.btn-add-money {
  padding: 10px 30px;
  font-size: 1.2rem;
}

.modal-body input {
  background-color: #00313ac0;
  border: none;
  outline: none;
  text-align: center;
  height: 35px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 400;

}

.modal-body input::placeholder {
  color: #ffffffc2;
}

.modal-content {
  background-color: #3c5363;
  color: #ffffff;
}

.modal-body{
  margin: auto;
}